from .{{ stelselgroepconfig.class_naam | stem }} import {{ stelselgroepconfig.class_naam }}
{%- for versie in stelselgroepconfig.versies %}
from .{{ versie.class_naam | stem }} import {{ versie.class_naam }}
{% endfor %}

__all__ = [
    "{{ stelselgroepconfig.class_naam }}",
{%- for versie in stelselgroepconfig.versies %}
    "{{ versie.class_naam }}",
{% endfor -%}
]
