mkdocs==1.6.1
mkdocstrings==0.28.1
mkdocstrings-python==1.16.1
mkdocs-include-markdown-plugin==7.1.8
markdown-callouts==0.4.0
Pygments==2.17.2
Markdown>=3.4
pymdown-extensions>=10.14.3
mkdocs-section-index>=0.3.8
mkdocs-material==9.*