from .{{stelselconfig.stelsel}} import {{ className }}
{% for stelselgroep, stelselgroepconfig in stelselconfig.stelselgroepen.items() -%}
from .{{ stelselgroepconfig.module }} import {{ stelselgroepconfig.class_naam }}
{% endfor %}

__all__ = [
    "{{ className }}",
{%- for stelselgroep, stelselgroepconfig in stelselconfig.stelselgroepen.items() %}
    "{{ stelselgroepconfig.class_naam }}",
{%- endfor %}
]
